.navbar{
    padding-top: 60px;
    background-color: rgba(0,0,0,0);
    height: 100px;
    transition: 1.5s;
}

.navbar-inverse{
    border-color: rgba(0,0,0,0);
}

.navbar-brand{
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    transition: 0.4s;
    margin-bottom: 10px;
}
/*.navbar-inverse .navbar-nav>li>.active {
    border-bottom: 3px solid #fff;
    color: #ffc400;

}*/
.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffc400;
    border-bottom: 3px solid #fff;
    transition: .2s;
}

.navbar-header{
    margin-top: 10px;
}
.img-site{
    width: 20%;
    border: 2px solid rgb(139, 102, 0);
}

/* Effets Nav Bar scroll */
.noir{
    background-color: rgba(211, 137, 0, 0.836);
    transition: .8s;
 }




footer{
    background-color: rgba(0,0,0,0.8);
}

footer p{
    padding: 20px 20px 5px 20px;
    text-align: center;
    margin-bottom: 0;
    color: rgb(189, 189, 189);
}
footer p a{
    color: rgb(189, 189, 189);
}
footer p a:hover{
    color: #ffc400;
    text-decoration: none;
}













/* Responsive design */

@media (max-width: 767px){
    .navbar{
        padding-top: 0px;
        background-color: #d6a400;
        height: 80px;
    }
    .noir{
        background-color: rgb(211, 137, 0);
        transition: 1.8s;
     }
     #monMenu{
         background-color: rgba(211, 137, 0, 0.438);
     }
     #monMenu a{
        text-transform: uppercase;
        font-size: 15px;
        text-align: center;
     }
     #monMenu ul li{
         border-bottom: 1px solid lightgrey;
     }
     #monMenu ul li a:hover{
         border-bottom: 0px solid #fff;
     }
    .navbar-inverse .navbar-toggle{
        border-color: lightgrey;
    }
    .navbar-inverse .navbar-toggle:hover{
        background-color: rgba(211, 211, 211, 0.24);
    }
    .navbar-inverse .navbar-toggle:focus{
        background-color: rgba(211, 211, 211, 0.24);
    }
    .navbar-toggle{
        color: lightgrey;
    }
    .nom-site{
        padding-left: 10px;
        width: 100%;
    }
    .img-site{
        width: 18%;
    }
    
}

